$white: #ffffff;
$black: #000000;
$puerto-rico: #3FBDA9;
$blue-lagoon: #007E91;
$serpa-blue: #004B57;
$athens-gray: #f2f2f4;
$alto: #dedede;
$boulder: #777777;
$mine-shaft: #252525;
$whisper: #F2F2F9;
$ship-cove: #7e7ac1;
$navy-blue: #090088;
$navy-blue-placeholder: #7E7AC1;
$lightning-yellow: #F7BE16;
$error: #d31717;
$green: green;
$snuff: #e5e5f3;
$mercury: #e4e4e4;
